apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels:
app: wordpress
spec:
  ports:
    - port: 80
  selector:
    app: wordpress
    tier: frontend
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pv-claim
  labels:
    app: wordpress
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1 #  for k8s versions before 1.9.0 use apps/v1beta2  and before 1.8.0 use extensions/v1beta1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: wordpress
        tier: frontend
    spec:
      containers:
        - image: wordpress:5.5.1-apache
          name: wordpress
          env:
            - name: WORDPRESS_DB_HOST
              value: devopsinterview.cw7qgk28g9tl.us-east-1.rds.amazonaws.com
            - name: WORDPRESS_DB_USER
              value: devopsinterview
            - name: WORDPRESS_DB_NAME
              value: devopsinterview
            - name: WORDPRESS_DB_PASSWORD
              value: d3v0ps-1nt3rv13w
          ports:
            - containerPort: 80
              name: wordpress
          volumeMounts:
            - name: wordpress-persistent-storage
              mountPath: /var/www/html
      volumes:
        - name: wordpress-persistent-storage
          persistentVolumeClaim:
            claimName: wp-pv-claim
